/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style-type: none;
}

a {
	color: currentColor;
	text-decoration: none;
}
/* LAYOUT */
.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.sidebar{
    width: 230px;
    display: flex;
    flex-grow: 1;
}
.player-bar{
   width: 100%; 
   height: 90px;
}

.container-full{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content{
    width: 100%;
}

/* PLAYER STYLE */





/* DEBUG */
.debug{
    border: 1px solid;
}

/* UTIL */
.player-bar-bg{
    background-color: #282828;
}
.flex{
    display: flex;
}
.sidebar-bg{
    background-color: black;
}