/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style-type: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

/* LAYOUT */
.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.sidebar{
    width: 230px;
    display: flex;
    flex-grow: 1;
}
.player-bar{
   width: 100%; 
   height: 90px;
}

.container-full{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content{
    width: 100%;
}

/* PLAYER STYLE */



/* COVER ART */
.cover-art >img{
    height: 50px;
    width: 50px;
    aspect-ratio: 1/1;
}
.cover-art{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    color: white;
}
.song{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

/* DEBUG */
.debug{
    border: 1px solid;
}

/* UTIL */
.player-bar-bg{
    background-color: #282828;
}
.flex{
    display: flex;
}
.sidebar-bg{
    background-color: black;
}
.grey-text{
    color: #7e7e7e;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.gap-20{
    gap: 20px;
}